<article class="article archives-about article-type-normal" itemscope="">
  <div class="archives-about-header">
  </div>
  
  <header class="article-header">
    <h1 itemprop="title"><%= page.title %></h1>  
    <% if(page.description || theme.profile.author_description) { %>
    <p class="text-muted"><%= page.description || theme.profile.author_description %></p>
    <% } %>
  </header>
  <div class="article-body archives-about-body">
    <%- page.content %>
    <div class="archives-about-body-div"><img src="/images/search_wechat_min.png"></div>
  </div>
</article>
<% if (theme.comment.type && !is_home()) { %>
  <%- partial('post/comment', {post: page}) %>
<% } %>